USE [C:\PROJECTS\META\TESTEMETA\TESTEMETA\APP_DATA\BD_META.MDF]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_RETORNA_CLIENTES]    Script Date: 2/23/2021 1:34:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		DILENO S SANTOS
-- CREATE DATE: 15/02/2021
-- DESCRIPTION:	RETORNA CLIENTES
-- =============================================
ALTER FUNCTION [dbo].[FN_RETORNA_CLIENTES]
(	
	   @PID INT
)

RETURNS TABLE 
AS
RETURN 
(
	SELECT
			 C.*
	FROM DBO.TBCLIENTES C WITH(NOLOCK)
	WHERE C.ID = CASE WHEN ISNULL(@PID,C.ID) = 0 THEN C.ID ELSE ISNULL(@PID,C.ID) END
)

